@import './utils/variables';
@import './base';

@import './utils/fonts';
@import './utils/texts';

@import './utils/utils';

@import './components/buttons';
@import './components/carusel';
@import './components/chef-card';
@import './components/links';
@import './components/pagination';

@import './layouts/advantages';
@import './layouts/chef';
@import './layouts/contacts';
@import './layouts/formats';
@import './layouts/forms';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/mobile-menu';
@import './layouts/modal.scss';
@import './layouts/section';
@import './layouts/traditions';
@import './layouts/footer';

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 25px;
}
