/* Base */
@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';
@import './components/buttons';
@import './components/links';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/advantages';
@import './layouts/traditions';
@import './layouts/section';
@import './components/chef-card';
@import './layouts/chef';
@import './components/carusel';
@import './layouts/contacts';
@import './layouts/formats';
@import './layouts/forms';
@import './utils/texts';

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-adress {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer-adress,
.address-info {
  flex-grow: 1;
}
.footer {
  position: relative;
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::before,
.footer::after {
  position: absolute;
  content: '';
  bottom: 0;
}

.footer::before {
  width: 179px;
  height: 120px;
  background-image: url('../images/decor-bread-smal.png');
}

.footer::after {
  background-image: url('../images/decor-bread-large.png');
  width: 305px;
  height: 187px;
  right: 0;
}

.address_link {
  text-decoration: none;
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}
.address_link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address_copyright {
  font-size: 14px;
  color: #a18268;
}

/* Modal */

.backdrop {
  position: fixed;
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  border: none;
  background: none;
  cursor: pointer;
}
