.contact-sections {
  padding-bottom: 96px;

  &__map {
    flex-shrink: 0;
    border-radius: 16px;
    border: none;
  }
  &__title {
    margin-bottom: 16px;
  }
}
.contact-sections__container {
  display: flex;
  gap: 20px;
}
