.traditions-section {
  padding-top: 96px;
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }
  &__content {
    max-width: 710px;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__text {
    &--limited {
      max-width: 340px;
    }
  }
  &__images {
    display: none;
    border-radius: 400px 400px 4px 4px;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}
